
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

#displayName{
	position: fixed;
	left: 0vw;
	width: 100vw;
	bottom: 0vh;
	padding: 0px;
	color: #f06; 
	background-color: #eee;
	text-align: center;	
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	border: 0px solid green;
	z-index: 5;
	opacity: .6;
	}
	
#displayDescription{
	border: 0px solid red;
	z-index: 5;
	}


#counter, 
#currentpos, 
#debugoutput{
display:none;
	}

#master {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
    border: 0px solid blue;
  z-index: 0;


}

#bg {
  position: absolute;
  top: 0px;
  width: 100%;
  border: 0px solid red;
  opacity: 1;

}

#bgimg {
  width: 100%;
  border: 0px solid red;

   /* top: -30vh; delete*/
}

#markers {
  top: 0px;
  width: 100%;
  border: 0px solid purple;
  z-index: 1;
  opacity: 1;
}

/* svg begin*/

#asvg {
  border: 0px solid red;
  width: 100%;
  height: 100%;
}

#path5 {
  fill:#ba3b3b;
  fill-opacity:0.4;
  stroke:#ffffff;
  stroke-opacity:1;
  stroke-width:1;
  stroke-miterlimit:4;
  stroke-dasharray: none;
  }



/* svg end*/

.m {
  position: absolute;
  width: 6vw;
  height: 6vw;
  transform-origin: 50% 50%;
  border: 0px solid green;
 
}

.m:hover { opacity: .3; }

#ad1 {
  left: 2%;
  top: 93%;
  transform: rotate(60deg) scale(1);
}



#ad2 {
  left: 29%;
  top: 90%;
  transform: rotate(135deg) scale(1);
}

#ad3 {
  left: 53.2%;
  top: 89%;
  transform: rotate(180deg) scale(1);
}

#ad4 {
  left: 65%;
  top: 82.5%;
  transform: rotate(95deg) scale(1);
}

#ad5 {
  left: 60.5%;
  top: 76.5%;
  transform: rotate(-95deg) scale(1);
}

#ad6 {
  left: 46%;
  top: 76.5%;
  transform: rotate(95deg) scale(1);
}

#ad7 {
  left: 53%;
  top: 70%;
  transform: rotate(0deg) scale(1);
}

#ad8 {
  left: 66%;
  top: 62%;
  transform: rotate(-135deg) scale(1);
}

#ad9 {
  left: 53%;
  top: 62%;
  transform: rotate(0deg) scale(1);
}

#ad10 {
  left: 39%;
  top: 62%;
  transform: rotate(45deg) scale(1);
}

#ad11 {
  left: 37%;
  top: 51.5%;
  transform: rotate(-90deg) scale(1);
}

#ad12 {
  left: 53%;
  top: 51.5%;
  transform: rotate(180deg) scale(1);
}

#ad13 {
  left: 70%;
  top: 51.5%;
  transform: rotate(90deg) scale(1);
}

#ad14 {
  left: 65%;
  top: 26%;
  transform: rotate(-135deg) scale(1);
}

#ad15 {
  left: 39%;
  top: 34%;
  transform: rotate(140deg) scale(1);
}

.titlePage {

  position: fixed;
  width: 100vw;
  padding: 5vh;
  
  right: 0vh;
  top: 0vh;
  border: 0px solid red;
  color: white;

  text-shadow:1px 1px 1px rgba(0,0,0,0.7);
  text-align: right;
  z-index: 99;
   border: 0px solid red;
}

#backbutton {
	position: fixed;
	top: 0vh;
	right: 0vh;
}
.button-style {
	background-color: black;
    border: 0px solid white;
	text-align: center;
    text-decoration: none;
    display: inline-block;
	cursor: pointer;
	margin: 0;
	padding:0;
	width: 7.5vh;
	height: 7.5vh;
	z-index: 99;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 3vh;
	color: white;
	vertical-align: top;
}



i.material-icons {
	border: 0px solid white;
	background-color: black;
	color: rgba(255, 255, 255, 1);
	margin: 0;
    text-align: center;
	font-size: 6vh;
	}

#love {
position: fixed;


  background-color: rgba(54, 25, 25, .7);
  top: 1vh;
  right: 7vh;

  width: 70vw;
    padding-top: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
max-height: 85vh;
    border: 0px solid gray;
  overflow: hidden;
    overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

  ::-webkit-scrollbar {
display: none;
}

.title {
  font-family: 'Libre Baskerville', serif;
  font-variant: small-caps;
  font-size: 5vh;
  width: 50vw;
  border: 0px solid red;

}



